.results {
    clear: both;
}

.result-item {
    padding: 10px 0;
}

.result-item span.account-name {
    font-weight: bold;
    font-size: 1em;
    display: block;
    clear: both;
}

.result-item span.hashtag {
    font-size: 0.6em;
    display: block;
    clear: both;
}

.result-item span.followers-count {
    font-size: 0.8em;
    display: block;
    clear: both;
}

.result-item .post-image-container {
    width: 100%;
    text-align: center;
    clear: both;
}

.result-item .post-image-container .post-image-row {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;

}

.result-item .post-image-container .post-image-row .img {
    text-align: center;
    position: absolute;
    width:  100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 0 auto;

    /* display: block;
    max-width: 100%;
    height: auto; */

}

.row-container:not(.desktop-hidden) {
    margin-bottom: 70px;
}

body {
  font-family: "Source Sans Pro";
}

.font-family-menu,
.menu-container ul.menu-smart a {
  font-family: "Dosis";
}



.emc_search
{
    font-size: 25px;
    padding: 25px;
}

.emc_search .layout
{
    max-width: 1200px;
    margin: auto;
}

.emc_search .header input
{
    border-radius: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

.emc_search .results_showing, .emc_search .found_in
{
    color: #000000;
    font-size: 12px;
}

.emc_search #searching
{
    display: none;
    position: absolute;
    right: 30px;
    top: 35px;
    font-size: 15px;
    color: #000000;
}

.emc_search #helperText
{
    padding-top: 25px;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.emc_search .results .post_title
{
    font-size: 30px;
    margin-top: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.emc_search .results .left
{
    text-align: center;
    float: left;
    width: 50%;
}

.emc_search .results .right
{
    text-align: center;
    float: right;
    width: 50%;
}

#search-input:focus
{
    outline-style: none;
    box-shadow: none;
    border-color: #dd4242;
}


@media (max-width: 959px) {
  .menu-primary ul.menu-smart a {
    font-family: "Dosis";
    font-weight: 600;
  }
}

@media (max-width: 768px) {
    .emc_search .results .left
    {
        text-align: center;
        float: left;
        width: 100%;
    }

    .emc_search .results .right
    {
        text-align: center;
        float: right;
        width: 100%;
    }

}

@media (min-width: 992px) {
    .mctb-close {
        /*float: none;
        position: absolute;*/
        /*right: 0;
        top: 0;*/
    }
}
@media (max-width: 992px) {
    .mctb-bar {
        display: none;
    }

    /*.mctb-close {
        right: 0;
        top: 0;
    }*/

}




/* .quick-buttons.even {
    padding-top: 20px;
    margin-left: -5px;
    margin-right: -5px;
    display: table;
    width: 100%;
    position: relative;
}
.quick-buttons.even > div {
    display: table-cell;
    text-align: center;
} */

/* .quick-buttons.normal{
    padding-top: 20px;
    margin-left: -5px;
    margin-right: -5px;
    display: table;
    width: auto;
    table-layout: fixed;
    position: relative;
}
.quick-buttons.normal > div {
    display: table-cell;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;

} */

#paging {
    clear: both;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    width: auto;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 0.8em;

}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.page-link, .btn-container-2 {
    cursor: pointer;
}


ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.btn-container {
    width: 100%;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    border-collapse: collapse;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    border: 1px solid #ccc;
}

.quick-buttons {
    padding: 2px;
}

.btn-container-2 {
    width: 15%;
    float: left;
    margin: 10px;
}

.btn-row {
    height: auto;
}

.col-container-2 {
    width: 50%;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 44%;
    float: left;

}

.col-container-2 .col-2 {
    text-align: center;
    position: absolute;
    width:  100%;
    height: 100%;
    margin: 0 auto;
}

.col-container-2 .col-2 div {
    text-align: center;
    position: absolute;
    width:  100%;
    height: 100%;
    background-position: 40% 40%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 0 auto;
}

.btn-caption p {
    margin-top: 0;
    border: 1px solid #ccc;
    font-size: 0.5em;
    text-align: center;
    text-transform: uppercase;
}



.preloader2 {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.preloader-content {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
