{% extends "master.phtml" %}

{% block title %}
<title>{{ sitename }}</title>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
<link rel="stylesheet" href="css/page.css">
{% endblock %}



{% block content %}
<div class="main-wrapper">
    <div class="main-container">
        <div class="page-wrapper main-onepage">
            <div class="sections-container">
                <article id="post-1" class="page-body style-color-xsdn-bg page type-page status-publish hentry">
                    <div class="post-wrapper">
                        <div class="post-body">
                            <div class="post-content">
                                <div id="preloader">
                                    <div class="preloader-content">
                                        <div class="preloader"></div>
                                    </div>
                                </div>

                                <div class="row-container">
                                    <div class="row row-parent style-light limit-width double-top-padding double-bottom-padding">


                                        <div class="emc_search">
                                            <div class="layout">
                                                <div class="header">

                                                    <input id="search-input" type="text" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Search by hashtag or topic...">

                                                    <div id="searching">
                                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>

                                                    </div>

                                                </div>

                                                {% verbatim %}
                                                <div class="quick-buttons">
                                                    <script type="text/template" id="quick-buttons-template">
                                                        {{#buttons}}
                                                            <div class="btn-container-2" data-keyword="{{ keyword }}">
                                                                <div class="btn-row">
                                                                    <div class="col-container-2">
                                                                        <div class="col-2">
                                                                            <div class="quick-button-images loading" data-username="{{ hits.0.account }}" style="background-image:url('slider-image.jpg');"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-container-2">
                                                                        <div class="col-2">
                                                                            <div class="quick-button-images loading" data-username="{{ hits.1.account }}" style="background-image:url('slider-image.jpg');"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="btn-row">
                                                                    <div class="col-container-2">
                                                                        <div class="col-2">
                                                                            <div class="quick-button-images loading" data-username="{{ hits.2.account }}" style="background-image:url('slider-image.jpg');"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-container-2">
                                                                        <div class="col-2">
                                                                            <div class="quick-button-images loading" data-username="{{ hits.3.account }}" style="background-image:url('slider-image.jpg');"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="btn-caption">
                                                                    <p>{{ keyword }}</p>
                                                                </div>
                                                            </div>
                                                        {{/buttons}}
                                                    </script>
                                                </div>
                                                {% endverbatim %}

                                                <div id="quickButtons">
                                                </div>

                                                <div class="results">
                                                    <div id="stats"></div>
                                                    <div id="hits"></div>
                                                    <div id="paging"></div>
                                                    <div id="helperText">Type in a hashtag (instagood, foodgasm) or a general topic (travel, food) -- and we’ll show you matched instagram account.</div>

                                                </div>



                                                {% verbatim %}
                                                <!-- Hit template -->
                                                <script type="text/template" id="hit-template">
                                                    {{#hits}}

                                                    <div class="hit {{columnMaker @index}}">
                                                        <div class="info">
                                                            <div class="result-item">
                                                                <div class="post-image-container">
                                                                    <div class="post-image-row">
                                                                        <div class="img instagram-post-image" data-username="{{account}}" style="background-image:url('slider-image.jpg');">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <span class="account-name">
                                                                    <a href="https://www.instagram.com/{{account}}" target="_blank">@{{account}}</a>
                                                                </span>
                                                                <span class="hashtag">{{submit_method}}</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    {{/hits}}
                                                </script>

                                                <!-- NO HIT template -->

                                                <script type="text/html" id="no-results-template">
                                                    <div id="no-results-message">
                                                        <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>

                                                    </div>
                                                </script>


                                                <!-- Stats template -->
                                                <script type="text/template" id="stats-template">
                                                    <span class="results_showing">{{ nbHits }} Result{{#nbHits_plural}}s{{/nbHits_plural}} found </span><span class="found_in">in {{ processingTimeMS }}ms</span>
                                                    <!-- <span class="results_showing">{{ nbHits }} Result{{#nbHits_plural}}s{{/nbHits_plural}} found on {{ nbPages }} page{{#nbPages_plural}}s{{/nbPages_plural}} </span><span class="found_in">in {{ processingTimeMS }}ms</span> -->
                                                </script>


                                                <!-- Facet template -->
                                                <script type="text/template" id="facet-template">
                                                    <div class="facet">
                                                        <h1>{{ title }}</h1>
                                                        <ul>
                                                            {{#values}}
                                                            <li>
                                                                <a href="index.html" class="facet-link toggle-refine {{#disjunctive}}facet-disjunctive{{/disjunctive}} {{#isRefined}}facet-refined{{/isRefined}}" data-facet="{{ facet }}" data-value="{{ name }}">

                                                                    {{ name }}<span class="facet-count">{{ count }}</span>
                                                                </a>
                                                            </li>
                                                            {{/values}}
                                                        </ul>
                                                    </div>
                                                </script>


                                                <!-- Pagination template -->
                                                <script type="text/template" id="pagination-template">
                                                    <nav class="text-center" aria-label="Page navigation">
                                                        <ul class="pagination">
                                                            {{#paginate pagination type="first"}}
                                                            <li class="page-item{{#if disabled}} disabled{{/if}}">
                                                                <span class="page-link" data-page-number="{{n}}" aria-label="First">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                    <span class="sr-only">First</span>
                                                                </span>
                                                            </li>
                                                            {{/paginate}}
                                                            {{#paginate pagination type="previous"}}
                                                            <!-- <li class="page-item{{#if disabled}} disabled{{/if}}">
                                                                <span class="page-link" data-page-number="{{n}}" aria-label="Previous">
                                                                    <span aria-hidden="true">&lsaquo;</span>
                                                                    <span class="sr-only">Previous</span>
                                                                </span>
                                                            </li> -->
                                                            {{/paginate}}
                                                            {{#paginate pagination type="middle" limit="5"}}
                                                            <li class="page-item"><span class="page-link{{#if disabled}} disabled{{/if}} page-{{n}}" data-page-number="{{n}}">{{n}}</span></li>
                                                            {{/paginate}}
                                                            {{#paginate pagination type="next"}}
                                                            <!-- <li class="page-item{{#if disabled}} disabled{{/if}}">
                                                                <span class="page-link" data-page-number="{{n}}" aria-label="Next">
                                                                    <span aria-hidden="true">&rsaquo;</span>
                                                                    <span class="sr-only">Next</span>
                                                                </a>
                                                            </li> -->
                                                            {{/paginate}}
                                                            {{#paginate pagination type="last"}}
                                                            <li class="page-item{{#if disabled}} disabled{{/if}}">
                                                                <span class="page-link" data-page-number="{{n}}" aria-label="Last">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                    <span class="sr-only">Last</span>
                                                                </a>
                                                            </li>
                                                            {{/paginate}}
                                                        </ul>
                                                    </nav>
                                                </script>
                                                {% endverbatim %}


                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div><!-- sections container -->
        </div><!-- page wrapper -->
        {% block footer %}
        {{ parent() }}
        {% endblock %}
    </div><!-- main container -->
</div><!-- main wrapper -->
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script>
// var client = algoliasearch("MUCLQDVBI8", '22de25179856edd41d00d62ffde019bb');
// var index = client.initIndex('getstarted_actors');

$(function () {

    var QUICK_BUTTONS_KEYWORD = ["State Tourism Accounts", "Coffee Moment", "Food"];

    var INITIAL_KEYWORD = '{{ keyword.q is empty ? null : keyword.q }}';

    var APPLICATION_ID = '{{ algolia.application_id }}';
    var SEARCH_ONLY_API_KEY = '{{ algolia.search_only_api_key }}';
    var INDEX_NAME = '{{ algolia.index_name }}';
    var PARAMS = {
        hitsPerPage: 4,
        maxValuesPerFacet: 50,
        // facets: ['post_type_label'],
        disjunctiveFacets: [],
        index: INDEX_NAME
    };

    var FACETS_SLIDER = [];
    var FACETS_LABELS = {};
    var FACETS_ORDER_OF_DISPLAY = [];
    var buttons = [];

    // Client + Helper initialization
    var algolia = algoliasearch(APPLICATION_ID, SEARCH_ONLY_API_KEY);
    var algoliaHelper = algoliasearchHelper(algolia, INDEX_NAME, PARAMS);
    var quickButtonAlgoliaHelper = algoliasearchHelper(algolia, INDEX_NAME, PARAMS);

    // DOM BINDING
    $searchInput = $('#search-input');
    $searchInputIcon = $('#search-input-icon');
    $sortBySelect = $('#sort-by-select');
    $hits = $('#hits');
    $stats = $('#stats');
    $facets = $('#facets');
    $pagination = $('#paging');
    $searching = $('#searching');
    $helperText = $('#helperText');
    $quickButtons = $('#quickButtons');

    // Hogan templates binding
    var hitTemplate = Handlebars.compile($('#hit-template').text());
    var statsTemplate = Handlebars.compile($('#stats-template').text());
    var noResultsTemplate = Handlebars.compile($('#no-results-template').text());
    var paginationTemplate = Handlebars.compile($('#pagination-template').text());
    var quickButtonsTemplate = Handlebars.compile($('#quick-buttons-template').text());


    // Input binding
    $searchInput
    .on('keyup', function() {
        var query = $(this).val();

        // clear page on blank box
        if (query == "") {
            $hits.html(hitTemplate(""));
            $stats.html("");
            $searching.fadeOut( 200 );
            $helperText.fadeIn( 100 );
            return;
        }

        $searching.fadeIn( 200 );
        algoliaHelper.setQuery(query).setQueryParameter('hitsPerPage', 10).search();
        $helperText.fadeOut( 100 );
    }).focus();

    $('#quickButtons').on('click', '.btn-container-2', function() {
        var theKeyword = $(this).data('keyword');
        // console.log(theKeyword);
        $searchInput.val(theKeyword);
        $searching.fadeIn( 200 );
        algoliaHelper.setQuery(theKeyword).setQueryParameter('hitsPerPage', 4).search();
        $helperText.fadeOut( 100 );
    });

    if (INITIAL_KEYWORD.length > 0) {
        $searchInput.val(INITIAL_KEYWORD);
        $searching.fadeIn( 200 );
        algoliaHelper.setQuery(INITIAL_KEYWORD).setQueryParameter('hitsPerPage', 4).search();
        $helperText.fadeOut( 100 );
    }

    // for (i = 0; i < QUICK_BUTTONS_KEYWORD.length; i++) {
    //     var keyword = QUICK_BUTTONS_KEYWORD[i];
    //     console.log(keyword);
    //     renderQuickButtons(keyword);
    // }
    renderQuickButtons(quickButtonAlgoliaHelper);

    $('body').on('click', '.page-link', function() {
        var pageNumber = $(this).data('page-number');
        // console.log(pageNumber);
        $('#preloader').show();
        algoliaHelper.setPage(pageNumber - 1).search();
    });


    // Search results
    algoliaHelper.on('result', function(content, state) {
        renderStats(content);
        renderHits(content);
        // console.log(content);
        handleNoResults(content);
        renderPostImages();
        renderPagination(content);
        $searching.fadeOut( 200 );
        console.log(encodeURIComponent(content.query));
        window.history.pushState([], "Search Result", "/?q="+encodeURIComponent(content.query));
    });

    /*
    quickButtonAlgoliaHelper.on('result', function(content, state) {
        // buttons.push({
        //     keyword: content.query,
        //     hits: content.hits,
        // });

        var params = {
            buttons: {
                keyword: content.query,
                hits: content.hits,
            },
        };
        $quickButtons.append(quickButtonsTemplate(params));

    });
    */

    // var params = {
    //     buttons: buttons,
    // }
    //

    function renderHits(content) {
        // console.log('asdf');
        $hits.html(hitTemplate(content));
    }

    function handleNoResults(content) {
        if (content.nbHits == 0) {
            $hits.html(noResultsTemplate({query: content.query}));
        }

    }

    function renderPagination(content) {
        var params = {
            pagination: {
                page: content.page,
                pageCount: content.nbPages,
                searchQuery: content.query,
            }
        };
        $pagination.html(paginationTemplate(params));

        var pageNumber = content.page + 1;
        var pageSelector = 'page-'+pageNumber;
        // console.log(pageSelector);
        $('.'+pageSelector).parent().addClass('active');


    }

    function renderStats(content) {
        var stats = {
            nbHits: content.nbHits,
            nbHits_plural: content.nbHits !== 1,
            processingTimeMS: content.processingTimeMS,
            nbPages: content.nbPages,
            nbPages_plural: content.nbPages !== 1,
        };
        $stats.html(statsTemplate(stats));
    }

    function renderPostImages() {
        $('.instagram-post-image').each( function() {
            // /*
            var theImage = $(this);
            var igUsername = theImage.data('username');
            var igUrl = "https://www.instagram.com/" + igUsername + "/?__a=1";
            // console.log(igUrl);
            $.get( igUrl, function( igData ) {
                // console.log(igData);
                var igLastPostImageUrl = igData.user.media.nodes[0].thumbnail_resources[2].src;
                // theImage.attr('src', igLastPostImageUrl);
                theImage.attr('style', "background-image:url("+ igLastPostImageUrl +");")


                // console.log(theImage);
                // console.log(igLastPostImageUrl);
            });
            // */

        });

    }

    function renderQuickButtons(quickButtonAlgoliaHelper)
    {
        // console.log('Initializing Quick Buttons');

        for (i = 0; i < QUICK_BUTTONS_KEYWORD.length; i++) {

            // quickButtonAlgoliaHelper.setQuery(QUICK_BUTTONS_KEYWORD[i]).searchOnce();
            quickButtonAlgoliaHelper.setQuery(QUICK_BUTTONS_KEYWORD[i]).searchOnce().then(promiseHandler);

            // console.log(QUICK_BUTTONS_KEYWORD[i]);
        }

        // console.log('Initializing Quick Buttons Done');

    }

    function promiseHandler(res)
    {
        // buttons.push({
        //     keyword: res.content.query,
        //     hits: res.content.hits,
        // });

        // var params = {
        //     buttons: buttons,
        // }

        var params = {
            buttons: {
                keyword: res.content.query,
                hits: res.content.hits,
            },
        }

        // $quickButtons.html(quickButtonsTemplate(params));
        $quickButtons.append(quickButtonsTemplate(params));

        renderQuickButtonImages();
    }





    function renderQuickButtonImages() {
        $('.quick-button-images').each( function() {
            // /*
            var theImage = $(this);
            var igUsername = theImage.data('username');
            var igUrl = "https://www.instagram.com/" + igUsername + "/?__a=1";
            // console.log(igUrl);
            if (theImage.hasClass('loading')) {
                theImage.removeClass('loading');
                $.get( igUrl, function( igData ) {
                    // console.log(igData);
                    var igLastPostImageUrl = igData.user.media.nodes[0].thumbnail_resources[0].src;
                    // theImage.attr('src', igLastPostImageUrl);
                    theImage.attr('style', "background-image:url("+ igLastPostImageUrl +");")
                    console.log('Requesting: '+ igLastPostImageUrl);
                    // console.log(theImage);
                    // console.log(igLastPostImageUrl);
                });
            }
            // */

        });

    }

    Handlebars.registerHelper("columnMaker", function(index) {
        if (index % 2 == 0) {
            return 'left';
        } else {
            return 'right';
        }
    });


    Handlebars.registerHelper('paginate', function(pagination, options) {
        var type = options.hash.type || 'middle';
        var ret = '';
        var pageCount = Number(pagination.pageCount);
        var page = Number(pagination.page);
        var pageUrl = 'q='+ encodeURIComponent(pagination.searchQuery);
        var limit;
        if (options.hash.limit) limit = +options.hash.limit;

        //page pageCount
        var newContext = {};
        switch (type) {
            case 'middle':
            if (typeof limit === 'number') {
                var i = 0;
                var leftCount = Math.floor(limit / 2) - 1;
                var rightCount = limit - leftCount - 1;
                if (page + rightCount > pageCount)
                leftCount = limit - (pageCount - page) - 1;
                if (page - leftCount < 1)
                leftCount = page - 1;
                var start = page - leftCount;

                while (i < limit && i < pageCount) {
                    newContext = { n: start, url: pageUrl };
                    if (start === page) newContext.active = true;
                    ret = ret + options.fn(newContext);
                    start++;
                    i++;
                }
            }
            else {
                for (var i = 1; i <= pageCount; i++) {
                    newContext = { n: i, url: pageUrl };
                    if (i === page) newContext.active = true;
                    ret = ret + options.fn(newContext);
                }
            }
            break;
            case 'previous':
            if (page === 1) {
                newContext = { disabled: true, n: 1, url: pageUrl }
            }
            else {
                newContext = { n: page - 1, url: pageUrl }
            }
            ret = ret + options.fn(newContext);
            break;
            case 'next':
            newContext = {};
            if (page === pageCount) {
                newContext = { disabled: true, n: pageCount, url: pageUrl }
            }
            else {
                newContext = { n: page + 1, url: pageUrl }
            }
            ret = ret + options.fn(newContext);
            break;
            case 'first':
            if (page === 1) {
                newContext = { disabled: true, n: 1, url: pageUrl }
            }
            else {
                newContext = { n: 1, url: pageUrl }
            }
            ret = ret + options.fn(newContext);
            break;
            case 'last':
            if (page === pageCount) {
                newContext = { disabled: true, n: pageCount, url: pageUrl }
            }
            else {
                newContext = { n: pageCount, url: pageUrl }
            }
            ret = ret + options.fn(newContext);
            break;
        }

        return ret;
    });


    $( document ).ready(function() {
        // do empty search to initialize the page
        console.log( "ready!" );
        $('.emc_search').parent().css('padding',0);
        $('#preloader').hide();
        // exclude page searches
        // algoliaHelper.addFacetRefinement('post_type_label', 'Posts');
    });

    var $loading = $('#preloader').hide();
    $(document)
        .ajaxStart(function () {
            $loading.show();
        })
        .ajaxStop(function () {
            $loading.hide();
        });
});


</script>
{% endblock %}
