<!DOCTYPE html>
<html class="no-touch" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <link rel="shortcut icon" href="favicon.png">

    <base href="{{ baseurl }}">

    {% block title %}
    {% endblock %}


    <!-- <link rel='stylesheet' type='text/css' media='all' href='css/contact-form-7.css'> -->
    <link rel='stylesheet' type='text/css' media='all' href='css/uncode.css'>
    <link rel='stylesheet' type='text/css' media='all' href='css/bar.min.css'>
    <link rel='stylesheet' type='text/css' media='all' href='http://fonts.googleapis.com/css?family=Poppins%3A300%2Cregular%2C500%2C600%2C700%7CHind%3A300%2Cregular%2C500%2C600%2C700%7CDroid+Serif%3Aregular%2Citalic%2C700%2C700italic%7CDosis%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%7CPlayfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7COswald%3A300%2Cregular%2C700%7CRoboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CSource+Sans+Pro%3A200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C900%2C900italic&amp;subset=devanagari%2Clatin-ext%2Clatin%2Ccyrillic%2Cvietnamese%2Cgreek%2Ccyrillic-ext%2Cgreek-ext&amp;ver=1.4.2'>
    <style id='uncode-style-inline-css' type='text/css'>

    @media (max-width: 959px) { .navbar-brand > * { height: 100px !important;}}
    @media (min-width: 960px) { .limit-width { max-width: 1200px; margin: auto;}}
    @media (min-width: 960px) { .main-header, .vmenu-container { width: 300px; }}
    .menu-primary ul.menu-smart > li > a, .menu-primary ul.menu-smart li.dropdown > a, .menu-primary ul.menu-smart li.mega-menu > a, .vmenu-container ul.menu-smart > li > a, .vmenu-container ul.menu-smart li.dropdown > a { text-transform: uppercase; }
    </style>
    <link rel='stylesheet' type='text/css' media='all' href='css/uncode-icons.css'>
    <link rel='stylesheet' type='text/css' media='all' href='css/uncode-style-custom.css'>

    <style type='text/css'>
        a:link {
            color:gray;
        }
        a:visited {
            color:gray;
        }
    </style>

    <style type="text/css">
    .mctb-bar, .mctb-response, .mctb-close { background: #dd4242 !important; }
    .mctb-bar, .mctb-label, .mctb-close { color: #222222 !important; }
    .mctb-button { background: #222222 !important; border-color: #222222 !important; }
    .mctb-email:focus { outline-color: #222222 !important; }
    .mctb-button { color: #ffffff !important; }
    </style>

    {% block style %}
    {% endblock %}

</head>
<body class="home page-template-default page style-color-xsdn-bg vmenu vmenu-middle vmenu-center vmenu-position-left header-full-width main-center-align" data-border="0">
    <div class="body-borders" data-border="0">
        <div class="top-border body-border-shadow"></div>
        <div class="right-border body-border-shadow"></div>
        <div class="bottom-border body-border-shadow"></div>
        <div class="left-border body-border-shadow"></div>
        <div class="top-border style-light-bg"></div>
        <div class="right-border style-light-bg"></div>
        <div class="bottom-border style-light-bg"></div>
        <div class="left-border style-light-bg"></div>
    </div>
    <div class="box-wrapper">
        <div class="box-container">
            <div class="main-header">
                <div id="masthead" class="masthead-vertical menu-sticky-vertical">
                    <div class="vmenu-container menu-container  menu-primary menu-light submenu-light style-light-original style-color-xsdn-bg menu-no-borders menu-no-arrows-vertical">
                        <div class="row row-parent"><div class="row-inner restrict row-brand">
                            <div id="logo-container-mobile" class="col-lg-12 logo-container">
                                <div class="style-light">
                                    <a href="/" class="navbar-brand" data-minheight="14">
                                        <div class="logo-image logo-skinnable" data-maxheight="200" style="height: 200px;">
                                            <img src="your-logo-here.png" alt="Your Logo" width="258" height="258" class="img-responsive adaptive-async">
                                        </div>
                                    </a>
                                </div>
                                <div class="mmb-container"><div class="mobile-menu-button mobile-menu-button-light lines-button x2"><span class="lines"></span></div></div>
                            </div>
                        </div><div class="row-inner expand">
                            <div class="main-menu-container">
                                <div class="row-inner expand">
                                    <div class="menu-sidebar navbar-main">
                                        <div class="menu-sidebar-inner">
                                            <div class="menu-accordion">
                                                <ul id="menu-primary" class="menu-primary-inner menu-smart sm sm-vertical">
                                                    <li id="menu-item-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-link"><a title="About" href="about">About<i class="fa fa-angle-right fa-dropdown"></i></a></li>
                                                    <li id="menu-item-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-link"><a title="Submit More Hashtags" href="submit-hashtag">Submit More Hashtags<i class="fa fa-angle-right fa-dropdown"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="row-inner restrict">
                                    <div class="menu-sidebar">
                                        <div class="menu-sidebar-inner">
                                            <div class="nav navbar-nav navbar-social">
                                                <ul class="menu-smart sm menu-social mobile-hidden tablet-hidden">
                                                    <li class="menu-item-link social-icon tablet-hidden mobile-hidden">
                                                        <a href="https://www.twitter.com/kampheyapproved" target="_blank"><i class="fa fa-social-twitter"></i></a>
                                                    </li>
                                                    <li class="menu-item-link social-icon tablet-hidden mobile-hidden">
                                                        <a href="https://www.instagram.com/kampheyapproved" target="_blank"><i class="fa fa-instagram"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mobile-hidden tablet-hidden vmenu-footer style-light"><p>&copy; Who to Tag 2017</p></div>
                                        </div>
                                    </div>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}

                {% block footer %}
                <footer id="colophon" class="site-footer">
                    <div class="row-container style-dark-bg footer-last desktop-hidden">
                        <div class="row row-parent style-dark limit-width no-top-padding no-h-padding no-bottom-padding">
                            <div class="site-info uncell col-lg-6 pos-middle text-left"><p>&copy; Who to Tag 2017</p>
                            </div><!-- site info -->
                            <div class="uncell col-lg-6 pos-middle text-right">
                                <div class="social-icon icon-box icon-box-top icon-inline">
                                    <a href="http://twitter.com/kampheyapproved" target="_blank"><i class="fa fa-social-twitter"></i></a>
                                </div>
                                <div class="social-icon icon-box icon-box-top icon-inline">
                                    <a href="https://www.instagram.com/kampheyapproved" target="_blank"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                {% endblock %}
            {% endblock %}

        </div><!-- box container -->
    </div><!-- box wrapper -->

    <div id="mailchimp-top-bar" class="mctb mctb-sticky mctb-position-bottom mctb-medium">
        <!-- <span class="mctb-close"><i class="fa fa-angle-up"></i></span> -->
        <div class="mctb-bar">
            <form action="//twitter.us12.list-manage.com/subscribe/post?u=ce8a5e698082549514fb4fde2&amp;id=cc8a8d066e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label class="mctb-label">Get hashtag updates: </label>
                <input type="email" name="EMAIL" placeholder="Enter your email... " class="mctb-email"  required />
                <!-- <input type="text"  name="email_confirm" placeholder="Confirm your email" value="" autocomplete="off" tabindex="-1" class="mctb-email-confirm" /> -->
                <input type="submit" value="Subscribe" class="mctb-button" />

                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_ce8a5e698082549514fb4fde2_cc8a8d066e" tabindex="-1" value="">
                </div>
            </form>
        </div>
        <!-- <div class="custom-close pull-right"><i class="fa fa-angle-up fa-dropdown"></i></div> -->
    </div><!-- / MailChimp Top Bar -->

    <script src="https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

    <script>
    $( document ).ready(function() {
        // $('.mctb-close').on('click', function() {
        //     var currentState = $(this).find('i');
        //     if (currentState.hasClass('fa-angle-up')) {
        //         currentState.removeClass('fa-angle-up').addClass('fa-angle-down');
        //         $(this).next().show();
        //     } else {
        //         currentState.removeClass('fa-angle-down').addClass('fa-angle-up');
        //         $(this).next().hide();
        //     }
        // });

    });
    </script>

    {% block script %}
    {% endblock %}

</body>
</html>
