{% extends "master.phtml" %}

{% block title %}
<title>Submit Suggestion - {{ sitename }}</title>
{% endblock %}

{% block content %}
<div class="main-wrapper">
    <div class="main-container">
        <div class="page-wrapper">
            <div class="sections-container">
                <article id="post-2" class="page-body style-color-xsdn-bg page type-page status-publish hentry">
                <div class="post-wrapper">
                    <div class="post-body">
                        <div class="post-content">
                            <div class="row-container">
                                <div class="row row-parent style-light limit-width double-top-padding double-bottom-padding">
                                    <p>Are you a freelance writer sick of using all your&nbsp;brainpower figuring out where to pitch stories? I mean,&nbsp;there’s not enough coffee in the world to keep us going at this rate…</p>
                                    <p>I wish we could magically have our stories appear on all the pages of all the markets. But that’s not the way it works. We have to pitch first, and well, and often. There’s nothing we&nbsp;can do about that.</p>
                                    <p>What we <em>can</em> do? Pitch smarter. And that’s where this site comes in.</p>
                                    <p>Whether you have a shiny new piece &mdash; or one that’s made that’s already made the rounds of rejections &mdash; Where to Pitch can&nbsp;help you:</p>
                                    <ul>
                                        <li>Decide&nbsp;where to pitch your freelance writing</li>
                                        <li>Find alternative outlets that might give your story a home</li>
                                        <li>Get inspired&nbsp;to write about new topics and for new markets</li>
                                    </ul>
                                    <p>Please help your fellow freelance writers &mdash; make this site better by <a href="index.html@p=55054.html">submitting your suggestions here</a>. The more markets on the list, the more we all benefit!</p>
                                    <p>And if you’d like to receive monthly freelance writing tips, plus my favorite freelance writing pieces from around the web, <a href="http://eepurl.com/cyay9b">sign up for the Where to Pitch email newsletter</a>.</p>
                                    <p>Questions? Critiques? Unadulterated praise?&nbsp;I’d LOVE to hear it. <a href="index.html@p=54015.html">Just click here to contact me.</a></p>
                                    <p>To good writing, always,</p>
                                    <p><a href="http://susanshain.com">Susan Shain</a></p>
                                    <p>PS. I know links/submission info would make the site eons better, but it wasn’t possible with my initial budget.&nbsp;I hope to make it happen in the future &mdash; if you’d like to help, please sign up for the newsletter, spread the word about WTP, and maybe even do your Amazon shopping through the affiliate links on the <a href="resources.1.html">resources page</a>. Thank you!</p>
                                    <p>PPS. This site’s color scheme is a tribute to&nbsp;my grandpa, whose favorite joke to his writer granddaughter was: “What’s black, white, and red [read] all over? A newspaper!”</p>

                                </div>
                            </div></div>
                        </div>
                    </div>
                </article>
            </div><!-- sections container -->
        </div><!-- page wrapper -->
        {% block footer %}
        {{ parent() }}
        {% endblock %}
    </div><!-- main container -->
</div><!-- main wrapper -->
{% endblock %}
