<!DOCTYPE html>
<html class="no-touch" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    {% block title %}
    <title>Where to Pitch &#8211; Helping freelance writers figure out where to pitch their stories</title>
    {% endblock %}


    <link rel='stylesheet' type='text/css' media='all' href='css/contact-form-7.css'>
    <link rel='stylesheet' type='text/css' media='all' href='css/uncode.css'>
    <link rel='stylesheet' type='text/css' media='all' href='css/bar.min.css'>
    <link rel='stylesheet' type='text/css' media='all' href='http://fonts.googleapis.com/css?family=Poppins%3A300%2Cregular%2C500%2C600%2C700%7CHind%3A300%2Cregular%2C500%2C600%2C700%7CDroid+Serif%3Aregular%2Citalic%2C700%2C700italic%7CDosis%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%7CPlayfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7COswald%3A300%2Cregular%2C700%7CRoboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CSource+Sans+Pro%3A200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C900%2C900italic&amp;subset=devanagari%2Clatin-ext%2Clatin%2Ccyrillic%2Cvietnamese%2Cgreek%2Ccyrillic-ext%2Cgreek-ext&amp;ver=1.4.2'>
    <style id='uncode-style-inline-css' type='text/css'>

    @media (max-width: 959px) { .navbar-brand > * { height: 100px !important;}}
    @media (min-width: 960px) { .limit-width { max-width: 1200px; margin: auto;}}
    @media (min-width: 960px) { .main-header, .vmenu-container { width: 300px; }}
    .menu-primary ul.menu-smart > li > a, .menu-primary ul.menu-smart li.dropdown > a, .menu-primary ul.menu-smart li.mega-menu > a, .vmenu-container ul.menu-smart > li > a, .vmenu-container ul.menu-smart li.dropdown > a { text-transform: uppercase; }
    </style>
    <link rel='stylesheet' type='text/css' media='all' href='css/uncode-icons.css'>
    <link rel='stylesheet' type='text/css' media='all' href='css/uncode-style-custom.css'>

    <style type='text/css'>
        a:link {
            color:gray;
        }
        a:visited {
            color:gray;
        }
    </style>

    <style type="text/css">
    .mctb-bar, .mctb-response, .mctb-close { background: #dd4242 !important; }
    .mctb-bar, .mctb-label, .mctb-close { color: #222222 !important; }
    .mctb-button { background: #222222 !important; border-color: #222222 !important; }
    .mctb-email:focus { outline-color: #222222 !important; }
    .mctb-button { color: #ffffff !important; }
    </style>

    <style type="text/css" id="wp-custom-css">

    .emc_search
    {
        font-size: 25px;
        padding: 25px;
    }

    .emc_search .layout
    {
        max-width: 1200px;
        margin: auto;
    }

    .emc_search .header input
    {
        border-radius: 5px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px;
    }

    .emc_search .results_showing, .emc_search .found_in
    {
        color: #000000;
        font-size: 12px;
    }

    .emc_search #searching
    {
        display: none;
        position: absolute;
        right: 30px;
        top: 35px;
        font-size: 15px;
        color: #000000;
    }

    .emc_search #helperText
    {
        padding-top: 25px;
        font-size: 24px;
        color: #000000;
        text-align: center;
    }

    .emc_search .results .post_title
    {
        font-size: 30px;
        margin-top: 15px;
        color: #000000;
        margin-bottom: 15px;
    }

    .emc_search .results .left
    {
        text-align: center;
        float: left;
        width: 50%;
    }

    .emc_search .results .right
    {
        text-align: center;
        float: right;
        width: 50%;
    }

    #search-input:focus
    {
        outline-style: none;
        box-shadow: none;
        border-color: #dd4242;
    }
    </style>
</head>
<body class="home page-template-default page page-id-55159  style-color-xsdn-bg vmenu vmenu-middle vmenu-center vmenu-position-left header-full-width main-center-align" data-border="0">
    <div class="body-borders" data-border="0">
        <div class="top-border body-border-shadow"></div>
        <div class="right-border body-border-shadow"></div>
        <div class="bottom-border body-border-shadow"></div>
        <div class="left-border body-border-shadow"></div>
        <div class="top-border style-light-bg"></div>
        <div class="right-border style-light-bg"></div>
        <div class="bottom-border style-light-bg"></div>
        <div class="left-border style-light-bg"></div>
    </div>
    <div class="box-wrapper">
        <div class="box-container">
            <div class="main-header">
                <div id="masthead" class="masthead-vertical menu-sticky-vertical">
                    <div class="vmenu-container menu-container  menu-primary menu-light submenu-light style-light-original style-color-xsdn-bg menu-no-borders menu-no-arrows-vertical">
                        <div class="row row-parent"><div class="row-inner restrict row-brand">
                            <div id="logo-container-mobile" class="col-lg-12 logo-container">
                                <div class="style-light">
                                    <a href="index.html" class="navbar-brand" data-minheight="14">
                                        <div class="logo-image logo-skinnable" data-maxheight="200" style="height: 200px;">
                                            <img src="your-logo-here.png" alt="Your Logo" width="258" height="258" class="img-responsive adaptive-async">
                                        </div>
                                    </a>
                                </div>
                                <div class="mmb-container"><div class="mobile-menu-button mobile-menu-button-light lines-button x2"><span class="lines"></span></div></div>
                            </div>
                        </div><div class="row-inner expand">
                            <div class="main-menu-container">
                                <div class="row-inner expand">
                                    <div class="menu-sidebar navbar-main">
                                        <div class="menu-sidebar-inner">
                                            <div class="menu-accordion"><ul id="menu-primary" class="menu-primary-inner menu-smart sm sm-vertical"><li id="menu-item-73413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73413 menu-item-link"><a title="About" href="index.html@p=55620.html">About<i class="fa fa-angle-right fa-dropdown"></i></a></li>
                                                <li id="menu-item-73414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73414 menu-item-link"><a title="Resources" href="index.html@p=55924.html">Resources<i class="fa fa-angle-right fa-dropdown"></i></a></li>
                                                <li id="menu-item-73416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73416 menu-item-link"><a title="Submit Your Suggestions" href="index.html@p=55054.html">Submit Your Suggestions<i class="fa fa-angle-right fa-dropdown"></i></a></li>
                                                <li id="menu-item-73415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73415 menu-item-link"><a title="Contact" href="index.html@p=54015.html">Contact<i class="fa fa-angle-right fa-dropdown"></i></a></li>
                                            </ul></div>
                                        </div>
                                    </div>
                                </div><div class="row-inner restrict">
                                    <div class="menu-sidebar">
                                        <div class="menu-sidebar-inner">
                                            <div class="nav navbar-nav navbar-social"><ul class="menu-smart sm menu-social mobile-hidden tablet-hidden"><li class="menu-item-link social-icon tablet-hidden mobile-hidden social-172871"><a href="http://twitter.com/susan_shain" target="_blank"><i class="fa fa-social-twitter"></i></a></li></ul></div><div class="mobile-hidden tablet-hidden vmenu-footer style-light"><p>© Where to Pitch 2017</p></div>
                                        </div>
                                    </div>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-wrapper">
                <div class="main-container">
                    <div class="page-wrapper main-onepage">
                        <div class="sections-container">
                            <article id="post-55159" class="page-body style-color-xsdn-bg post-55159 page type-page status-publish hentry">
                            <div class="post-wrapper">
                                <div class="post-body"><div class="post-content"><div class="row-container">
                                    <div class="row row-parent style-light limit-width double-top-padding double-bottom-padding">
                                        <div class="emc_search">
                                            <div class="layout">
                                                <div class="header">

                                                    <input id="search-input" type="text" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Search by outlet or topic...">

                                                    <div id="searching">
                                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>

                                                    </div>

                                                </div>



                                                <div class="results">
                                                    <div id="stats"></div>
                                                    <div id="hits"></div>
                                                    <div id="pagination"></div>
                                                    <div id="helperText">Type in an outlet (Shape, Serious Eats) or a general topic (health, money) -- and we’ll tell you where else you can pitch your idea.</div>
                                                </div>

                                            </div>
                                        </div>



                                        </div>
                                    </div></div></div>
                                </div>
                            </article>
                        </div><!-- sections container -->
                    </div><!-- page wrapper -->
                    <footer id="colophon" class="site-footer">
                        <div class="row-container style-dark-bg footer-last desktop-hidden">
                            <div class="row row-parent style-dark limit-width no-top-padding no-h-padding no-bottom-padding">
                                <div class="site-info uncell col-lg-6 pos-middle text-left"><p>© Where to Pitch 2017</p>
                                </div><!-- site info -->
                                <div class="uncell col-lg-6 pos-middle text-right">
                                    <div class="social-icon icon-box icon-box-top icon-inline"><a href="http://twitter.com/susan_shain" target="_blank"><i class="fa fa-social-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div><!-- main container -->
            </div><!-- main wrapper -->
        </div><!-- box container -->
    </div><!-- box wrapper -->

    <div id="mailchimp-top-bar" class="mctb mctb-sticky mctb-position-bottom mctb-medium">
        <!-- MailChimp Top Bar v1.2.16 - https://wordpress.org/plugins/mailchimp-top-bar/ -->
        <div class="mctb-bar">
            <form method="post">
                <label class="mctb-label">Want freelance writing tips + beautiful freelance pieces sent to you each month?</label>
                <input type="email" name="email" placeholder="Enter your email... " class="mctb-email"  required />
                <input type="text"  name="email_confirm" placeholder="Confirm your email" value="" autocomplete="off" tabindex="-1" class="mctb-email-confirm" />
                <input type="submit" value="OF COURSE!" class="mctb-button" />
                <input type="hidden" name="_mctb" value="1" />
                <input type="hidden" name="_mctb_no_js" value="1" />
                <input type="hidden" name="_mctb_timestamp" value="1491144808" />
            </form>
        </div>
    </div><!-- / MailChimp Top Bar -->

    <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>

</body>
</html>
